@import "styles.css";

.header-img {
    min-height: 302px;
}

.header-img--text {
    padding-top: 102px;
    padding-bottom: 33px;
}

main {
    margin-bottom: 65px;
}

.wrapper-one-column {
    padding: 112px 20px 0;
}

.wrapper-one-column h2 {
    margin-bottom: 30px;
}

form {
    width: 958px;
    margin: 0 auto;
}

fieldset {
    box-sizing: border-box;
}

legend {
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
}

.places legend, .emotions legend {
    width: 30%;
    padding: 0 54px;
}

.label-text, .review span {
    text-transform: uppercase;
    font-size: 14px;
    color: #333333;
    line-height: 26px;
}

.input-text, .label-radio, .label-check, .input-textarea, .input-textarea::placeholder {
    font: inherit;
    color: black;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.label-radio {
    padding: 10px 19px;
}

.label-check {
    padding: 4px 0 9px 23px;
}

.label-text {
    padding-right: 15px;
}

.input-text {
    border: 4px solid transparent;
    background-color: #f2f2f2;
    box-sizing: border-box;
    width: 100%;
    vertical-align: middle;
    padding: 12px 17px;
}

.input-text:hover, .input-textarea:hover {
    background-color: #e5e5e5;
}

.input-text:active, .input-textarea:active, .input-text:focus, .input-textarea:focus {
    background-color: #ffffff;
    border: 4px solid #e5e5e5;
}

.input-radio {
    position: relative;
    -webkit-appearance: none;
    width: 57px;
    height: 57px;
    background-color: #f2f2f2;
    border-radius: 50%;
    vertical-align: middle;
}

.input-radio:checked:after {
    position: absolute;
    display: block;
    content: '';
    background-color: #333333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 18px;
    left: 18px;
}

.input-radio:hover, .input-radio:focus {
    background-color: #e5e5e5;
}

.input-radio:checked:hover:after,
.input-radio:checked:focus:after {
    position: absolute;
    display: block;
    content: '';
    background-color: #333333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 18px;
    left: 18px;
}

.input-radio:active {
    background-color: #d5d5d5;
}

.input-radio:checked:active:after {
    position: absolute;
    display: block;
    content: '';
    background-color: #333333;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 18px;
    left: 18px;
}

.input-check {
    -webkit-appearance: none;
    display: block;
    width: 55px;
    height: 55px;
    background-color: #f2f2f2;
    vertical-align: middle;
}

.input-check:checked:after {
    display: block;
    width: 22px;
    height: 18px;
    content: '';
    position: absolute;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 19px;
    left: 17px;
}

.input-check:hover, .input-check:focus {
    display: block;
    background-color: #e5e5e5;
    position: relative;
}

.input-check:checked:hover:after,
.input-check:checked:focus:after {
    display: block;
    width: 22px;
    height: 18px;
    content: '';
    position: absolute;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 19px;
    left: 17px;
}

.input-check:active {
    display: block;
    background-color: #d5d5d5;
    position: relative;
}

.input-check:checked:active:after {
    display: block;
    width: 22px;
    height: 18px;
    content: '';
    position: absolute;
    background-image: url(../img/tick.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    top: 19px;
    left: 17px;
}

.fields-list li {
    display: flex;
    align-items: center;
    padding-bottom: 21px;
    position: relative;
}

.radiobuttons li, .personnel li {
    width: 100%;
}

.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: space-around;
    padding-top: 57px;
}

.fields-group {
    width: 100%;
}

.places {
    margin-top: 31px;
    border-top: 1px solid #f3f3f3;
}

.fields-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    padding-top: 76px;
    padding-left: 3px;
}

.personnel-list {
    padding-left: 80px;
    padding-top: 56px;
}

.radiobuttons-list {
    padding-top: 58px;
}

.contacts-list, .places-list {
    padding-left: 0;
}

.places-list {
    padding-top: 43px;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.radiobuttons, .personnel {
    width: 50%;
}

.contacts {
    margin-top: 46px;
}

.radiobuttons legend, .personnel legend {
    padding: 0 79px 0 79px;
    text-align: left;
}

.personnel, .emotions {
    border-top: 2px solid #f2f2f2;
}

.emotions {
    margin-top: 45px;
}

.personnel li {
    justify-content: space-around;
}

.contacts-list li {
    width: 50%;
}

.contacts-list .input-text {
    width: 66%;
}

.tel-ico, .mail-ico {
    position: absolute;
    display: block;
    content: '';
    width: 58px;
    height: 57px;
    background-color: #e6e6e6;
    top: 0;
    right: -2px;
    background-position: center;
    background-repeat: no-repeat;
}

.tel-ico {
    background-image: url("../img/tel-ico.svg");
    background-size: 18px 18px;
    right: 79px;
}

.mail-ico {
    background-image: url("../img/mail-ico.svg");
    background-size: 16px 18px;
}

.input-textarea {
    width: 100%;
    border: 4px solid transparent;
    resize: none;
    height: 160px;
    background-color: #f2f2f2;
    box-sizing: border-box;
    margin-top: 57px;
    padding: 11px 17px;
}

.review .btn-blue {
    width: 480px;
    height: 58px;
    margin-top: 56px;
    margin-right: 314px;
}

@media screen and (max-width: 1199px) {
    .header-img {
        background-image: url("../img/back-tablet.jpg");
        min-height: 291px;
    }

    .header-img--text {
        padding-top: 95px;
    }

    main {
        margin-bottom: 65px;
    }

    .wrapper-one-column {
        padding-top: 75px;
    }

    .wrapper-one-column h2 {
        margin-bottom: 30px;
    }

    form {
        width: 648px;
    }

    .form-wrapper {
        padding-top: 71px;
    }

    .label-radio {
        padding: 10px 17px;
    }

    .radiobuttons legend {
        padding: 0;
    }

    .personnel legend {
        padding: 0 57px 0 57px;
    }

    .personnel-list {
        padding-left: 57px;
    }

    .contacts-list {
        padding-top: 28px;
    }

    .contacts-list li {
        width: 100%;
        flex-wrap: wrap;
    }

    .contacts-list .label-text, .contacts-list .input-text {
        width: 100%;
    }

    .contacts-list .label-text {
        padding-left: 20px;
        padding-bottom: 8px;
    }

    .tel-ico, .mail-ico {
        position: absolute;
        width: 58px;
        height: 57px;
        top: 34px;
        right: 0;
    }

    .tel-ico {
        right: 0;
    }

    .places-list {
        padding-top: 43px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .places-list li {
        width: 35%;
        padding-right: 1px;
        padding-left: 30px;
        padding-bottom: 33px;
    }

    .places legend, .emotions legend {
        width: 64%;
        padding: 0 54px;
    }

    .input-check:checked:after {
        top: 21px;
        left: 47px;
    }

    .label-check {
        padding: 8px 0 9px 23px;
    }

    .emotions {
        margin-top: 37px;
    }

    .review .btn-blue {
        width: 324px;
        height: 58px;
        margin-top: 55px;
        margin-right: 159px;
    }

    main {
        margin-bottom: 62px;
    }
}

@media screen and (max-width: 767px) {
    .header-img {
        background-image: url("../img/back-mobile.jpg");
        min-height: 160px;
    }

    .header-img--text {
        width: 229px;
        padding-top: 52px;
    }

    .wrapper-one-column {
        padding-top: 37px;
        padding-bottom: 18px;
        border-bottom: 2px solid #f2f2f2;
    }

    .wrapper-one-column h2 {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    form {
        width: 280px;
    }

    .form-wrapper {
        padding-top: 19px;
    }

    legend {
        font-size: 18px;
    }

    .fields-group {
        width: 100%;
    }

    .label-radio {
        padding: 0 0 0 21px;
    }

    .personnel {
        order: 1;
        border-bottom: 2px solid #f2f2f2;
    }

    .personnel legend {
        padding: 0 70px 0 70px;
    }

    .personnel-list {
        padding-left: 0;
        padding-top: 20px;
    }

    .radiobuttons {
        order: 3;
        margin-top: 16px;
        padding-bottom: 14px;
        border-bottom: 2px solid #f2f2f2;
    }

    .radiobuttons legend {
        padding: 0 21px;
    }

    .radiobuttons-list {
        padding-top: 23px;
        padding-left: 0;
    }

    .radiobuttons-list li {
        padding-bottom: 12px;
    }

    .contacts {
        order: 2;
        margin-top: 19px;
        border-bottom: 2px solid #f2f2f2;
    }

    .contacts legend {
        padding: 0;
    }

    .contacts-list {
        padding-top: 21px;
        padding-bottom: 19px;
    }

    .contacts-list li {
        padding-bottom: 12px;
    }

    .contacts-list .label-text, .contacts-list .input-text {
        width: 100%;
    }

    .contacts-list .label-text {
        padding-left: 20px;
        padding-bottom: 6px;
    }

    .tel-ico, .mail-ico {
        position: absolute;
        width: 58px;
        height: 57px;
        top: 32px;
        right: 0;
    }

    .tel-ico {
        right: 0;
    }

    .places {
        margin-top: 17px;
        order: 4;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 3px;
    }

    .places-list {
        padding-top: 21px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .places-list li {
        align-items: flex-start;
        width: 100%;
        padding-bottom: 24px;
    }

    .places-list li:nth-child(3) {
        order: 2;
    }

    .places-list li:nth-child(2) {
        order: 3;
    }

    .places-list li:first-child {
        order: 1;
    }

    .places-list li:last-child {
        order: 4;
    }

    .places legend, .emotions legend {
        width: 69%;
    }

    .places legend {
        padding: 0 54px;
    }

    .label-check {
        padding: 13px 0 14px 25px;
    }

    .input-check:checked:after {
        top: 18px;
        left: 48px;
    }

    .emotions {
        margin-top: 0;
        order: 5;
    }

    .emotions legend {
        width: 100%;
        padding-top: 17px;
        padding-bottom: 9px;
    }

    .input-textarea {
        margin-top: 7px;
    }

    .review .btn-blue {
        width: 279px;
        margin-top: 48px;
        margin-right: 0;
    }

    .review > span {
        display: none
    }

    main {
        margin-bottom: 51px;
    }
}