.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}
.text-input {
  font: inherit;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  opacity: 1;
}
