@media screen and (min-width: 1280px) {
  .background {
    background-image: url("../img/back-desktop.jpg");
    margin-top: -39px;
  }
  .background-photos {
    height: 301px;
    background-position: center bottom;
  }
  .background-photos img {
    top: -19px;
    width: 461px;
    height: 80px;
  }
  .navigation__closed + .background {
    margin-top: -39px;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 144dpi), screen and (min-width: 1280px) and (min-resolution: 1.5dppx) {
  .background {
    background-image: url("../img/back-desktop@2x.jpg");
  }
}
@media screen and (min-width: 1280px) {
  .navigation-item__logo img {
    width: 188px;
    height: 96px;
  }
}
@media screen and (min-width: 1280px) {
  .section-head .section-text__dark,
  .section-head .section-title__dark {
    padding: 0 24.5%;
  }
  .section-head__bottom {
    padding: 15px 0;
  }
  .section-head__bottom .btn-blue {
    margin: 43px auto;
  }
  .main__main-photos .section-head:first-child {
    padding: 110px 182px 47px;
  }
  .main__main-photos .section-head {
    padding: 72px 185px 22px;
  }
  .main__main-form .section-head:first-child {
    padding: 111px 289px 56px;
  }
  .main__main-form .section-head:first-child .section-text__dark {
    padding: 0 11.5%;
  }
  .main__main-form .section-head:first-child .section-title__dark {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .section-photo .section-description__blue {
    padding: 51px 56px 40px;
  }
  .section-photo .section-title__white {
    padding: 0 34px;
    margin-bottom: 10px;
  }
  .section-bridge .section-description__blue {
    padding: 54px 83px 40px;
  }
}
@media screen and (min-width: 1280px) {
  .section-white {
    margin-bottom: 64px;
  }
  .section-white .advantage-home {
    background-position: 50% 21%;
  }
  .section-white .advantage-gift {
    background-position: 50% 20%;
  }
  .section-white .advantage-food {
    background-position: 50% 22%;
  }
}
@media screen and (min-width: 1280px) {
  .section-gray {
    margin-bottom: 44px;
  }
  .section-gray .section-advantage {
    padding: 46px 50px 61px;
  }
  .section-gray .section-advantage .section-title__dark {
    margin-bottom: 9px;
    padding: 0 72px;
  }
}
@media screen and (min-width: 1280px) {
  .section-map {
    background-image: url(../img/map-desktop.jpg);
  }
}
@media screen and (min-width: 1280px) and screen and (min-resolution: 1.5dppx), screen and (min-width: 1280px) and (min-resolution: 144dpi) {
  .section-map {
    background-image: url(../img/map-desktop@2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .main-image,
  .image {
    padding: 22px 0 0;
  }
  .section-gallery {
    padding: 0;
  }
  figure {
    position: relative;
  }
  figcaption {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px 21px;
    bottom: 0;
  }
  .author,
  .title,
  .likes span {
    color: white;
  }
  .likes a svg {
    fill: white;
  }
  .image {
    padding: 0;
    width: 33.33%;
  }
  .image figcaption {
    padding: 16px 21px;
  }
}
@media screen and (min-width: 1280px) {
  .section-video {
    padding: 0 16.75% 88px;
  }
  .range {
    width: 68%;
    left: 11.5%;
  }
  .tumb {
    left: 21%;
  }
  .buttons {
    padding: 0 42px 4px 33px;
  }
}
.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}
.text-input {
  font: inherit;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  opacity: 1;
}
@media screen and (min-width: 1280px) {
  .section-form {
    margin-bottom: 65px;
  }
  .form-reviews {
    padding: 0 10%;
  }
  .form-reviews .field {
    display: block;
    width: 50%;
    text-align: right;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 26px;
    color: #333333;
    order: 7;
    padding: 19px 0 15px;
  }
  .form-reviews .section-title__dark {
    padding-top: 0;
    margin-bottom: 57px;
  }
  .form-reviews .fieldset-names legend {
    margin-left: 78px;
  }
  .form-reviews .fieldset-names .label {
    padding-left: 79px;
  }
  .form-reviews .wrapper {
    padding: 0;
  }
  .form-reviews .label {
    margin-bottom: 19px;
  }
  .form-reviews .label .name {
    margin-right: 14px;
  }
  .form-reviews .label .radio-labe {
    margin-left: 18px;
  }
  .form-reviews .label .checkbox-label {
    margin-left: 22px;
  }
  .form-reviews .fieldset-contacts {
    width: 100%;
    padding-bottom: 11px;
  }
  .form-reviews .fieldset-contacts legend {
    margin-bottom: 72px;
    padding: 0 6%;
  }
  .form-reviews .fieldset-contacts .wrapper {
    justify-content: space-between;
  }
  .form-reviews .label-mail,
  .form-reviews .label-phone,
  .form-reviews .label-checkbox,
  .form-reviews .label-radio {
    margin-bottom: 23px;
  }
  .form-reviews .label-mail .name,
  .form-reviews .label-phone .name,
  .form-reviews .label-checkbox .name,
  .form-reviews .label-radio .name {
    margin-right: 16px;
    margin-left: 0;
    margin-bottom: 0;
  }
  .form-reviews .label-mail .name span,
  .form-reviews .label-phone .name span,
  .form-reviews .label-checkbox .name span,
  .form-reviews .label-radio .name span {
    display: none;
  }
  .form-reviews .label-phone,
  .form-reviews .label-mail {
    width: 480px;
    margin-bottom: 0;
    flex-wrap: nowrap;
  }
  .form-reviews .label-phone .name,
  .form-reviews .label-mail .name {
    margin-left: 0;
    width: auto;
  }
  .form-reviews .label-phone .input-tel,
  .form-reviews .label-mail .input-tel,
  .form-reviews .label-phone .input-email,
  .form-reviews .label-mail .input-email {
    padding-right: 59px;
    width: 316px;
  }
  .form-reviews .tel-ico,
  .form-reviews .mail-ico {
    right: 0;
    top: 0;
  }
  .form-reviews .tel-ico {
    right: 79px;
  }
  .form-reviews .label-radio {
    margin-bottom: 22px;
  }
  .form-reviews .label-checkbox {
    margin-bottom: 0;
    width: 25%;
    padding-left: 0;
  }
  .form-reviews .label-checkbox:last-child {
    margin-bottom: 0;
  }
  .form-reviews .label-checkbox:not(:first-child) {
    padding-left: 37px;
  }
  .form-reviews .label-checkbox:nth-child(3) {
    padding-left: 19px;
  }
  .form-reviews .fieldset-emotions {
    padding-bottom: 28px;
  }
  .form-reviews .fieldset-emotions legend {
    text-align: left;
    margin-left: 80px;
  }
  .form-reviews .fieldset-places {
    width: 100%;
    margin-bottom: 67px;
  }
  .form-reviews .fieldset-places legend {
    width: 42%;
    margin-bottom: 42px;
  }
}
@media screen and (min-width: 1280px) {
  .section-filter-form {
    margin-top: -40px;
    padding: 27px 6% 7px;
  }
  .filter-form .fieldset {
    width: 254px;
    margin-right: 0;
  }
  .filter-form .fieldset:nth-child(2) {
    width: 241px;
  }
  .filter-form .fieldset-price {
    width: 318px;
    margin-left: auto;
  }
  .filter-form .fieldset-price .section-title__white {
    margin-bottom: 10px;
  }
  .filter-form .fieldset-price .range-value {
    box-sizing: border-box;
    padding: 3px 0;
    width: 48%;
    text-align: center;
  }
  .filter-form .btn-white {
    width: 43%;
    margin: 11px 96px 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .sorting {
    width: 892px;
    margin-left: 0;
    align-items: flex-end;
  }
  .sort-list__features {
    width: auto;
  }
  .sort-item {
    margin-right: 33px;
  }
  .sort-list__price {
    width: 35px;
  }
}
@media screen and (min-width: 1280px) {
  .result {
    padding: 25px 6% 24px;
  }
  .photo {
    width: 135px;
  }
  .info {
    min-width: 365px;
  }
  .info .buttons {
    justify-content: flex-start;
  }
  .info .btn {
    width: 142px;
    padding: 3px 0;
  }
  .info .btn-blue {
    width: 109px;
    margin-right: 6px;
  }
  .rating {
    width: 241px;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    padding: 5px 0;
  }
  .value {
    width: 46%;
  }
  .value .section-text__dark {
    padding: 2px 0;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 3% 3.75% 3% 11%;
  }
  .hash-tag {
    width: 267px;
  }
  .social-list {
    width: 400px;
  }
  .developped {
    width: 356px;
  }
}
