@media screen and (min-width: 1280px) {
  .sorting {
    width: 892px;
    margin-left: 0;
    align-items: flex-end;
  }
  .sort-list__features {
    width: auto;
  }
  .sort-item {
    margin-right: 33px;
  }
  .sort-list__price {
    width: 35px;
  }
}
