.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}
.text-input {
  font: inherit;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  opacity: 1;
}
.result {
  padding: 20px 6%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
}
.photo {
  width: 80%;
  margin-bottom: 20px;
}
.photo img {
  width: 100%;
}
.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 20px;
}
.info .section-title__dark {
  text-decoration: none;
  width: 100%;
}
.info .section-title__dark:hover {
  color: #81b3d2;
}
.info .section-text__dark {
  width: 40%;
}
.info .type {
  margin-right: auto;
}
.info:active {
  color: rgba(0, 0, 0, 0.3);
}
.info .buttons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: auto;
  padding: 0;
}
.info .btn {
  width: 49%;
  padding: 10px 0;
  font-size: 14px;
}
.info .btn-blue {
  margin-right: auto;
}
.rating {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
}
.stars {
  display: flex;
  justify-content: flex-end;
}
.stars .star {
  margin-right: auto;
}
.value {
  background-color: #f2f2f2;
}
.value .section-text__dark {
  color: #666666;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .result {
    padding: 25px 6%;
    margin-bottom: 0;
    justify-content: flex-start;
  }
  .photo {
    width: 20%;
    height: 101px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 31px;
  }
  .photo img {
    width: 135px;
    height: auto;
  }
  .info {
    width: 38%;
    margin-bottom: 0;
  }
  .info .section-title__dark {
    text-decoration: none;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .info .section-text__dark {
    width: fit-content;
    text-align: left;
  }
  .info .type {
    margin-right: 38px;
  }
  .info:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .info .buttons {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .info .btn {
    width: 55%;
    font-size: 12px;
    line-height: 21px;
    padding: 2px 0;
  }
  .info .btn-blue {
    width: 43%;
  }
  .rating {
    width: 20%;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
  }
  .stars {
    display: flex;
    justify-content: flex-end;
  }
  .stars .star {
    margin-left: 6px;
  }
  .stars .star:first-child {
    margin-left: 0;
  }
  .value {
    width: 82%;
  }
  .value .section-text__dark {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .result {
    padding: 25px 6% 24px;
  }
  .photo {
    width: 135px;
  }
  .info {
    min-width: 365px;
  }
  .info .buttons {
    justify-content: flex-start;
  }
  .info .btn {
    width: 142px;
    padding: 3px 0;
  }
  .info .btn-blue {
    width: 109px;
    margin-right: 6px;
  }
  .rating {
    width: 241px;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    padding: 5px 0;
  }
  .value {
    width: 46%;
  }
  .value .section-text__dark {
    padding: 2px 0;
  }
}
