@media screen and (min-width: 768px) {
  .result {
    padding: 25px 6%;
    margin-bottom: 0;
    justify-content: flex-start;
  }
  .photo {
    width: 20%;
    height: 101px;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 31px;
  }
  .photo img {
    width: 135px;
    height: auto;
  }
  .info {
    width: 38%;
    margin-bottom: 0;
  }
  .info .section-title__dark {
    text-decoration: none;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
  }
  .info .section-text__dark {
    width: fit-content;
    text-align: left;
  }
  .info .type {
    margin-right: 38px;
  }
  .info:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .info .buttons {
    margin-top: 12px;
    margin-bottom: 6px;
  }
  .info .btn {
    width: 55%;
    font-size: 12px;
    line-height: 21px;
    padding: 2px 0;
  }
  .info .btn-blue {
    width: 43%;
  }
  .rating {
    width: 20%;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: space-between;
    align-items: flex-start;
    padding: 5px 0;
  }
  .stars {
    display: flex;
    justify-content: flex-end;
  }
  .stars .star {
    margin-left: 6px;
  }
  .stars .star:first-child {
    margin-left: 0;
  }
  .value {
    width: 82%;
  }
  .value .section-text__dark {
    padding: 0;
  }
}
