.background {
  width: 100%;
  background-image: url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.background img {
  position: absolute;
  margin: auto;
  top: 7px;
  bottom: 0;
  left: 0;
  right: 0;
}
.background-main {
  height: 389px;
  background-position: 0 0;
  margin-top: 55px;
}
.background-main img {
  width: 282px;
  height: 214px;
}
.background-photos {
  height: 158px;
  background-position: center bottom;
  margin-top: 57px;
}
.background-photos img {
  top: -14px;
  width: 229px;
  height: 39px;
}
@media screen and (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .background {
    background-image: url("../img/back-mobile@2x.jpg");
  }
}
.navigation__closed + .background {
  margin-top: -28px;
}
