@media screen and (min-width: 768px) {
  .navigation {
    height: auto;
    align-items: flex-start;
  }
  .navigation__closed .btn-menu__open {
    display: none;
  }
  .navigation-list {
    top: 0;
  }
  .navigation-item {
    width: 20%;
    background-color: transparent;
    border: none;
  }
  .navigation-item a {
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 14px 0;
  }
  .navigation-item a:hover,
  .navigation-item a:focus {
    background-color: transparent;
    color: #81b3d2;
  }
  .navigation-item a:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation-item__active a {
    color: #766357;
  }
  .navigation-item__active a:hover,
  .navigation-item__active a:focus {
    color: #604e43;
  }
  .navigation-item__active a:active {
    color: rgba(118, 99, 87, 0.3);
  }
  .navigation-item:first-child {
    order: 1;
  }
  .navigation-item:nth-child(2) {
    order: 2;
  }
  .navigation-item:nth-child(3) {
    order: 4;
  }
  .navigation-item:nth-child(4) {
    order: 5;
  }
  .navigation-item__logo {
    order: 3;
  }
  .navigation-item__logo a {
    padding: 0;
  }
}
