.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}
.text-input {
  font: inherit;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  opacity: 1;
}
.navigation {
  background-color: #fff;
  position: relative;
  height: 80px;
  transition: 0.3s linear;
}
.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: -223px;
  transition: 0.3s linear;
}
.btn-menu {
  position: absolute;
  width: 23px;
  height: 22px;
  display: none;
  z-index: 2;
  top: 17px;
  right: 20px;
}
.btn-menu::after {
  content: '';
  display: block;
  width: 23px;
  height: 22px;
  background-size: auto;
  background-position: center;
}
.btn-menu__open::after {
  background-image: url("../img/menu.svg");
}
.btn-menu__close::after {
  background-image: url("../img/cross.svg");
}
.navigation-item {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  width: 100%;
  background-color: #81b3d2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  transition: 0.3s linear;
}
.navigation-item__active {
  border-top: none;
}
.navigation-item:first-child {
  border-top: none;
}
.navigation-item:last-child {
  border-bottom: none;
}
.navigation-item a {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  text-transform: uppercase;
  color: white;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  text-align: center;
  padding: 7px 0;
  transition: 0.3s linear;
}
.navigation-item:hover {
  background-color: #669ec0;
}
.navigation-item:active {
  background-color: #5496bd;
}
.navigation-item:active a {
  color: rgba(255, 255, 255, 0.3);
}
.navigation-item__logo {
  display: block;
  background-color: transparent;
  border: none;
  z-index: 1;
}
.navigation-item__logo a {
  padding: 0;
}
.navigation-item__logo img {
  display: inline-block;
}
.navigation-item__logo:hover,
.navigation-item__logo:active {
  background-color: transparent;
}
.navigation__closed .navigation-item__logo {
  display: block;
}
.navigation__closed .btn-menu__open {
  display: block;
}
.navigation__opened .btn-menu__close,
.navigation__js .btn-menu__close {
  display: block;
}
.navigation__opened {
  height: 223px;
}
.navigation__opened .navigation-list {
  top: 0;
}
@media screen and (min-width: 768px) {
  .navigation {
    height: auto;
    align-items: flex-start;
  }
  .navigation__closed .btn-menu__open {
    display: none;
  }
  .navigation-list {
    top: 0;
  }
  .navigation-item {
    width: 20%;
    background-color: transparent;
    border: none;
  }
  .navigation-item a {
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    padding: 14px 0;
  }
  .navigation-item:hover {
    background-color: transparent;
  }
  .navigation-item:hover a {
    color: #81b3d2;
  }
  .navigation-item:active {
    background-color: transparent;
  }
  .navigation-item:active a {
    color: rgba(0, 0, 0, 0.3);
  }
  .navigation-item__active a {
    color: #766357;
  }
  .navigation-item__active:hover a {
    color: #604e43;
  }
  .navigation-item__active:active a {
    color: rgba(118, 99, 87, 0.3);
  }
  .navigation-item:first-child {
    order: 1;
  }
  .navigation-item:nth-child(2) {
    order: 2;
  }
  .navigation-item:nth-child(3) {
    order: 4;
  }
  .navigation-item:nth-child(4) {
    order: 5;
  }
  .navigation-item__logo {
    order: 3;
  }
  .navigation-item__logo a {
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navigation-item__logo img {
    width: 188px;
    height: 96px;
  }
}
