.reset {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
}
.text-input {
  font: inherit;
  box-sizing: border-box;
  color: black;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  opacity: 1;
}
.main-image,
.image {
  padding: 22px 6.25% 0;
  border-bottom: 1px solid #e5e5e5;
}
figcaption {
  padding: 15px 0;
}
.author,
.title,
.likes span {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: none;
  font-size: 14px;
  line-height: 24px;
}
.title,
.likes span {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
}
.title {
  color: #333333;
}
.description {
  margin-bottom: 5px;
}
.likes a {
  transition: 0.3s linear;
  text-decoration: none;
}
.likes a svg {
  display: inline-block;
  vertical-align: baseline;
  width: 23px;
  height: 21px;
  fill: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}
.likes:hover span {
  color: #81b3d2;
}
.likes:hover svg {
  fill: #81b3d2;
}
.likes:active span {
  color: rgba(0, 0, 0, 0.3);
}
