@media screen and (min-width: 1280px) {
  .section-head .section-text__dark,
  .section-head .section-title__dark {
    padding: 0 24.5%;
  }
  .section-head__bottom {
    padding: 15px 0;
  }
  .section-head__bottom .btn-blue {
    margin: 43px auto;
  }
  .main__main-photos .section-head:first-child {
    padding: 110px 182px 47px;
  }
  .main__main-photos .section-head {
    padding: 72px 185px 22px;
  }
  .main__main-form .section-head:first-child {
    padding: 111px 289px 56px;
  }
  .main__main-form .section-head:first-child .section-text__dark {
    padding: 0 11.5%;
  }
  .main__main-form .section-head:first-child .section-title__dark {
    margin-bottom: 30px;
    font-size: 30px;
  }
}
