@import "../_variables";
@import "../_mixins";

.section-white {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 6.25%;
  margin-bottom: 18px;

  .section-advantage {
    width: 100%;
    padding: 10px 0 16px 50px;
    background-repeat: no-repeat;
  }

  .advantage-home {
    background-image: url(../img/house.svg);
    background-size: 39px 37px;
    background-position: 1px 1px;
    order: 1;
  }

  .advantage-gift {
    background-image: url(../img/gift.svg);
    background-size: 32px 38px;
    background-position: 5px 0;
    order: 2;
  }

  .advantage-food {
    background-image: url(../img/burger.svg);
    background-size: 40px 35px;
    background-position: -1px 5px;
    order: 3;
  }

  .section-text, .section-title {
    text-align: left;
  }

  .section-text {
    line-height: 23px;
  }

  .section-title {
    margin-bottom: 13px;
  }
}
