@media screen and (min-width: 768px) {
  .section-photo .section-description__blue {
    padding: 46px 43px 40px;
    width: 33%;
    box-sizing: border-box;
  }
  .section-photo .section-title__white {
    margin-bottom: 9px;
  }
  .section-photo .section-text__white span {
    margin-bottom: 19px;
  }
  .section-photo .section-image {
    width: 67%;
    max-height: 256px;
  }
  .section-photo .section-image img {
    height: 256px;
  }
  .section-bridge .section-description__blue {
    padding-top: 45px;
    order: 1;
  }
}
