@import "../_variables";
@import "../_mixins";

.section-gray {
  background-color: #eeeeee;
  padding: 0 6.25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .section-advantage {
    padding: 26px 17px;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;

    &:last-child {
      border-bottom: none;
    }

    .section-title__dark {
      margin-bottom: 10px;
    }

    .section-text__dark {
      line-height: 23px;

      span {
        margin-bottom: 12px;
        display: block;
      }
    }
  }
}
