@media screen and (min-width: 768px) {
  .section-white {
    padding: 0;
    margin-bottom: 44px;
  }
  .section-white .section-advantage {
    width: 33.3333%;
    box-sizing: border-box;
    padding: 135px 47px 16px;
  }
  .section-white .advantage-home {
    background-size: 75px 72px;
    background-position: 50% 18%;
    order: 1;
  }
  .section-white .advantage-gift {
    background-size: 64px 75px;
    background-position: 50% 17%;
    order: 3;
  }
  .section-white .advantage-food {
    background-size: 77px 68px;
    background-position: 50% 20%;
    order: 2;
  }
  .section-white .section-text,
  .section-white .section-title {
    text-align: center;
  }
  .section-white .section-title {
    margin-bottom: 19px;
  }
}
